<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit card type</title>        
    </head>
    <body>                
        <fieldset style="width: 50%">            
            <legend><b>STEP 3:</b> EDIT CARD TYPE</legend>
            <p th:if="${bt == null}">No bank transaction was loaded</p>                                
            <div th:if="${bt != null}">       
                <table>
                    <tr>
                        <td> <p th:text = "'Customer number: ' + ${bt.customerNumber}"/></td>
                        <td> <p th:text = "'Check number: ' + ${bt.checkNumber}"/></td>
                    </tr> 
                </table>
                <hr/>               
                <form action="#" th:action="@{/cardtype}" th:object="${bt}" method="post">
                    <table>                        
                        <tr>
                            <td>
                                <label for="cardType">Card type:</label>
                            </td>
                            <td>
                                <select name="cardType" id="cardType" th:field="*{cardType}">
                                    <option th:value="'VisaElectron'" th:text="VisaElectron"></option>
                                    <option th:value="'MasterCard'" th:text="MasterCard"></option>                                    
                                </select>
                            </td>
                        </tr>                       
                    </table>
                    <hr/>
                    <input type="submit" value="Next &raquo;" style="float: right; margin-left: 10px;" /> 
                    <input type="button" onclick="location.href = '/editbankiban';" value="&laquo; Back" style="float: right;" />
                    <input type="button" onclick="location.href = '/cancel';" value="Cancel" style="float: left; margin-right: 10px;" />
                    <input type="button" onclick="location.href = '/reset/editcardtype';" value="Reset" style="float: left;" />
                    <input type="button" onclick="location.href='/delete';" value="Delete" style="float: left; margin-left: 10px; background-color: orange;" />

                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>  
            </div>
        </fieldset>
    </body>
</html>