<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>All payments</title>        
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>                
        <h3>All payments</h3>

        <fieldset style="width: 50%; margin: auto;">            
            <legend>INSERT/UPDATE PAYMENT</legend>
            <div th:if="${payment != null}">                                       
                <form action="#" th:action="@{/merge}" th:object="${payment}" method="post">
                    <table>
                        <tr>
                            <td>
                                <label for="customerNumber">Customer Number: </label>
                            </td>
                            <td>
                                <input id="customerNumber" type="text" th:field="*{customerNumber}" readonly="readonly" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="checkNumber">Check Number: </label>
                            </td>
                            <td>
                                <input id="checkNumber" type="text" th:field="*{checkNumber}" placeholder="N/A" required="required" pattern="[A-Za-z0-9-]{1,20}" />
                            </td>
                        </tr>                                                
                        <tr>
                            <td>
                                <label for="invoiceAmount">Invoice amount: </label>
                            </td>
                            <td>
                                <input id="invoiceAmount" type="number" step=".01" th:field="*{invoiceAmount}" placeholder="0.00"/>
                            </td>
                        </tr>                        
                    </table> 
                    <input id="cachingDate" type="hidden" th:field="*{cachingDate}"/>                        
                    
                    <input type="submit" value="Finish" style="float: right; margin-right: 10px;" /> 

                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>  
            </div>
        </fieldset>

        <hr/>

        <div th:if="${all != null}">       
            <table>                       
                <tr>
                    <th>Customer Number</th>
                    <th>Check Number</th>
                    <th>Payment Date</th>
                    <th>Invoice Amount</th>
                    <th>Caching Date</th>                    
                </tr>
                <tr th:if="${all.empty}">
                    <td colspan="5"> No Payments Available </td>
                </tr>
                <tr th:each="t : ${all}">
                    <td><span th:text="${t.customerNumber}">Customer Number</span></td>            
                    <td><span th:text="${t.checkNumber}">Check Number</span></td>            
                    <td><span th:text="${t.paymentDate}">Payment Date</span></td>            
                    <td><span th:text="${t.invoiceAmount}">Invoice Amount</span></td>            
                    <td><span th:text="${t.cachingDate}">Caching Date</span></td>                                                    
                </tr>                
            </table>            
        </div>
    </body>
</html>