<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bank transaction operation results</title>        
    </head>
    <body>        
        <fieldset style="width: 50%">
            <legend>SUMMARY</legend>
            <div th:if="${dubt != null}">  
                <div> Bank transaction was successfully processed ... </div>  
                <table>
                    <tr><td><p th:text = "'Id: ' + ${dubt.transactionId}"/></td></tr>
                    <tr><td><p th:text = "'Bank Name: ' + ${dubt.bankName}"/></td></tr>
                    <tr><td><p th:text = "'Bank IBAN: ' + ${dubt.bankIban}"/></td></tr>
                    <tr><td><p th:text = "'Transfer amount: ' + ${dubt.transferAmount}"/></td></tr>
                    <tr><td><p th:text = "'Card type: ' + ${dubt.cardType}"/></td></tr>
                </table>              
            </div>
            <a href="/transactions">Go Home</a>
        </fieldset>
    </body>
</html>