<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" /> 
        <title>Infinite Scroll</title>
    </head>
    <body>
        <div class="container" id="container">
            <h1>Order Detail</h1>  
        </div>
        <div class="loading">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <script src="main.js"></script>
    </body>
</html>